{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "@typescript-eslint/no-var-requires",
    "prettier"
  ],
  "env": {
    "es2020": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": 2,
    "no-useless-catch": 0,
    "no-explicit-any": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/triple-slash-reference": "off"
  }
}
